body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 350px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

button:hover {
    background-color: #45a049;
}

#limpar {
    background-color: #f44336; /* Vermelho */
    transition: background-color 0.3s ease;
}

#limpar:hover {
    background-color: #d32f2f; /* Vermelho mais escuro */
}

#mensagem {
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    display: none;
}

#mensagem.valido {
    background-color: #4CAF50; /* Verde */
    color: white;
}

#mensagem.invalido {
    background-color: #f44336; /* Vermelho */
    color: white;
}